@model IEnumerable<UploadViewModel>
@{
    ViewData["Title"] = "Browse";
    var ContentTypeArr = new[] { "image/png", "image/jpeg" };

}

@* <h1>Browse Uploads</h1> *@

@* <hr> *@
	<!-- Start Page Header area -->
	<div id="mu-page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-page-header-area">
						<h1 class="mu-page-header-title">Browse Uploads</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Page Header area -->

	<!-- Start Breadcrumb -->
	<div id="mu-breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav aria-label="breadcrumb" role="navigation">
					  <ol class="breadcrumb mu-breadcrumb">
					    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
					    <li class="breadcrumb-item active" aria-current="page">Browse Uploads</li>
					  </ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumb -->



<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        @if (ContentTypeArr.Contains(item.ContentType))
                        {
                            <img width="100%" height="100%" src="~/Uploads/@item.FileName" class="img-thumbnail" alt="@item.OriginalFileName" />
                        }else{
                            <img width="100%" height="100%" src="~/img/File.png" class="img-thumbnail" alt="@item.OriginalFileName" />
                        }
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="card-body">
                            <h5 class="card-title"> @item.OriginalFileName.ToUpper()</h5>
                            <p class="card-text">
                                @{
                                    var size = item.Size / 1024;
                                    if (size < 1024)
                                    {

                                        <span> <strong> Size : </strong> @Math.Floor(Convert.ToDecimal(size)) Kb</span>
                                    }
                                    else
                                    {
                                        <span> <strong> Size : </strong> (@Math.Floor(Convert.ToDecimal(size)) / 1024) Mb</span>
                                    }
                                }
                            </p>
                            <p class="card-text"><strong> Date : </strong> @item.UploadDate</p>
                            <p class="card-text"> <strong> Download Count : </strong> @item.DownloadCount</p>
                            <a class="btn btn-success" style="float: right;" asp-action="Download" asp-controller="Upload" asp-route-id="@item.FileName">Download</a>
                        </div>
                    </div>

                </div>
            </div>
        }
        <div class="col-12 text-center">
            <a href="/Upload/Browse" class="btn btn-outline-primary">PREV</a>
            <a href="/Upload/Browse" class="btn btn-outline-primary">NEXT</a>
        </div>
    </div>
</div>
